.Toolbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    display: flex;
    justify-content:center;
    align-items:center;

    box-sizing: border-box;
    z-index: 200;
    padding: 0;
}

.Toolbar nav {
    height: 100%;
    color: white
}
   
.Btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    
    text-decoration: none;
    font: inherit;
    border: 1px solid #69001a;
    color: #69001a;
    background: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .Btn:hover,
  .Btn:active {
    background-color: #69001a;
    color: white;
  }



  
@media (max-width: 500px) {
    .Toolbar {
        height: 70px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000000;
        display: flex;
        justify-content:center;
        align-items:center;
    
        box-sizing: border-box;
        z-index: 200;
        padding: 0;
    }
 
    .Logo {
       
      padding: 8px;
      height: 100%;
      width: 800px;
      box-sizing: border-box;
      margin-right: 100px;
      border-radius: 5px;
    }
    
    .Logo img {
      height: 100%;
    }
    
    .Toolbar nav {
        height: 100%;
        color: white
    }
   
    }